@font-face {
  font-family: "helvetica-reg";
  src: url('/fonts/Helvetica.woff2') format('woff2');
}

@font-face {
  font-family: "helvetica-bold";
  src: url('/fonts/Helvetica-Bold.woff2') format('woff2');
}

body {
	margin: 0px;
	color: #000000;
}

#wrapper {
	width: 974px;
	margin: 0px auto;
}
#wrapper-body {
	width: 974px;
	overflow: hidden;
}

#wrapper-content {
	float: left;
	width: 773px;
	display: block;
}

#wrapper-right-nav {
	float: right;
	width: 185px;
}

#wrapper-footer {
	width: 974px;
	overflow: hidden;
}

.greyBarBottom {
	background: #DCDCDC;
	height: 7px;
	width: 100%;
	margin-bottom: 12px;
}

.footerInfo {
	float: left;
	padding: 16px 0px 0px 12px;
	font-size: 20px;
}

.footerInfo a {
	text-decoration: none;
	color: #000;
}

.footerContent {
	float: right;
	font-size: 12px;
	padding: 0px 10px 0px 0px;
	text-align: right;
}

.footerContent a {
	text-decoration: none;
	color: #000;
}

.footerContent a:hover {
	text-decoration: underline;
	color: #ff0000;
}

#header {
	width: 100%;
	height: 140px;
	padding: 2px 0px 5px 0px;
}

#logo-wrapper {
	float: left;
	width: 100%;
	height: 61px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 12px;
}

#logo-wrapper a {
	text-decoration: none;
	color: #000;
	width: fit-content;
}

.mainpage-card {
	width: 100%;
	height: 205px;
	overflow: hidden;
	background: url('/theme/mainpage-card.webp');
	margin-bottom: 9px;
}

.mainpage-card-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 369px;
	height: 185px;
	float: right;
	padding: 10px 20px 10px 0px;
}

.mainpage-card-text p {
	color: #666;
	font-weight: bold;
}

.mainpage-card-text p b {
	color: #000;
	font-weight: bold;
}

.mainpage-card-text b.title {
	font-size: 25px;
	margin-bottom: 10px;
}

.mainpage-card-text a {
	font-weight: bold;
	margin-bottom: 0;
	color: #ff0000;
	text-decoration: none;
	line-height: 1;
}

.mainpage-card-text a:hover {
	font-weight: bold;
	margin-bottom: 0;
	color: #ff0000;
	text-decoration: underline;
}

ul#navigation {
	width: 100%;
	height: 43px;
	font-size: 13px;
	line-height: 120%;
	position: relative;
	background: url('/theme/navigation-item-background.webp') left bottom repeat-x;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul#navigation li,
ul#navigation li p,
ul#navigation li p a {
	height: 100%;
	float: left;
	font-family: helvetica-bold;
}

ul#navigation li.hover,
ul#navigation li:hover
{
	background-position: left top;
	background-color: #fff;
}

ul#navigation li {
	background: transparent url('/theme/navigation-item-background.webp') left bottom repeat-x;
}

ul#navigation li#left_cap {
	background: transparent url('/theme/navigation-item-background-left.webp') -2px -46px;
}

ul#navigation li#left_cap:hover { 
	background: transparent url('/theme/navigation-item-background-left.webp') -2px -2px;
	background-color: #fff;
}

ul#navigation li#right_cap {
	float: right;
	background: none;
}

ul#navigation li#right_cap p {
	background: transparent url('/theme/navigation-item-background-right.webp') right bottom no-repeat;
}

ul#navigation li.top-level p a {
	height: 27px;
	background: url('/theme/separator.webp') right top no-repeat;
	padding: 12px 15px 0 15px;
	color: #000;
	text-decoration: none;
}

ul#navigation li.top-level p a:hover
{
	color:#FF0000;
	text-decoration:underline;
}

ul#navigation li.top-level p a.noimg {
	background: none;
}

p#dropDownText {
	text-align: center;
	padding: 6px 15px 0 0;
	font-size: 12px;
}

ul#navigation li#pillDropDown {
	position: absolute;
	top: 7px;
	right: 9px;
	background: url('/theme/navigation-pill.webp') no-repeat;
	width: 180px;
	height: 26px;
}

ul#navigation li#pillDropDown p {
	float: none;
	font-family: helvetica-reg;
	font-weight: normal;
}

ul#navigation li#pillDropDown a {
	font-weight: normal;
}

ul#navigation li#pillDropDown p a {
	width: 100%;
	background: none;
	height: auto;
	padding: 0;
	font-weight: normal;
}

ul#navigation li#pillDropDown:hover {
	background-position: 0 -26px;
	height: 32px;
	overflow: visible;
}

ul#navigation li:hover .submenu {
  display: block;
}

ul#navigation .submenu {
	display: none;
	position: absolute;
	top: 0;
	margin-top: 32px;
	right: 0;
	width: 360px;
	padding: 14px;
	opacity: 0.95;
	background: #fff;
	border: 1.5px solid #b7b7b7;
	border-top: none;
	border-bottom: 0px;
	font-family: helvetica-reg;
	font-size: 9pt;
}

ul#navigation .submenu hr {
	color: #b7b7b7;
	border-color: #b7b7b7;
	background-color: #b7b7b7;
	height: 1px;
	border: none;
  margin: 14px -14px 14px -14px;
}

ul#navigation .submenu a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

ul#navigation .submenu a:hover {
	color: #ff0000;
	font-weight: bold;
	text-decoration: underline;
}

ul#navigation .submenu .currentMonth {
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

ul#navigation .submenu .currentMonth p:last-child {
	margin-bottom: 0px;
}

ul#navigation .submenu .bottomleft {
	background: url('/theme/flyout-shadow-left.webp') left top no-repeat;
	width: 15px;
	height: 30px;
	position: relative;
	float: left;
	margin-left: -15px;
	margin-bottom: -43px;
	clear: both;
	margin-top: 15px;
}

ul#navigation .submenu .bottomcenter {
	background: url('/theme/flyout-shadow-bg.webp') left top repeat-x;
	width: 360px;
	height: 30px;
	position: absolute;
	margin-left: 15px;
}

ul#navigation .submenu .bottomright {
	background: url('/theme/flyout-shadow-right.webp') left top no-repeat;
	width: 15px;
	height: 30px;
	position: relative;
	float: right;
	margin-right: -15px;
}

ul.menu li a {
	display: block;
	position: relative;
}

ul.menu {
	float: left;
	width: 100;
}

#breadCrumb {
	width: 100%;
	font-size: 11px;
}

#breadCrumb .breadCrumb_Left {
	background: url('/theme/breadcrumb-left.webp') left top no-repeat;
	width: 129px;
	height: 33px;
	float: left;
}

#breadCrumb .breadCrumb_Center {
	background: url('/theme/breadcrumb-center.webp') left top repeat-x;
	width: 716px;
	height: 33px;
	float: left;
}

#breadCrumb .breadCrumb_Right {
	background: url('/theme/breadcrumb-right.webp') right top no-repeat;
	width: 129px;
	height: 33px;
	float: right;
}

#contactboxTop {
	background: url('/theme/contact_box_top.webp') no-repeat #f4f4f4;
	width: 100%;
	height: 3px;
}

#contactboxMiddle {
	background: url('/theme/contact_box_middle.webp') no-repeat #f4f4f4;
	width: 100%;
}

#contactboxMiddle #icons a:link {
	font-size: 10px;
	font-weight: bold;
	color: #555555;
	text-decoration: none;
}

#contactboxMiddle #icons img {
	margin: 0 7px 2px 0;
	border: 0;
	vertical-align: middle;
}

#contactboxMiddle #icons a:link {
	font-size: 10px;
	font-weight: bold;
	color: #555555;
	text-decoration: none;
}

#contactboxMiddle #icons a:visited 
{
	font-size:10px;
	font-weight:bold;
	color:#555555;
	text-decoration:none;
}
#contactboxMiddle #icons a:hover 
{
	font-size:10px;
	font-weight:bold;
	color:#ff0000;
	text-decoration:underline;
}

#contactboxBottom {
	background: url('/theme/contact_box_bottom.webp') no-repeat;
	width: 185px;
	height: 3px;
	margin-bottom: 16px;
}

.sidebox {
	margin: 0 0 16px 0;
	width: 185px;
	background-color: #f4f4f4;
}

.sidebox h4 {
	background: url('/theme/sidebox-background-top.webp') no-repeat;
	padding-left: 7px;
	padding-top: 3px;
	margin: 0;
	height: 14px;
	font-family: helvetica-bold;
	font-size:10px;
	font-weight: normal;
	line-height: 135%;
}

.sidebox .contents {
	margin: 0px;
	padding: 14px 10px 2px 10px;
	background: url('/theme/sidebox-background-main.webp') repeat-y;
	font-size: 11px;
	color: #000;
}

.sidebox .contents a {
	text-decoration: none;
	color: #000;
}

.sidebox .contents a:hover {
	text-decoration: underline;
	color: #ff0000;
}

.sidebox .contents ul {
	padding-left: 10px;
	list-style-type: disclosure-closed;
	margin: 0px 0px 10px 0px;
}

.sidebox .contents ul li {
	margin-bottom: 4px;
}

.sidebox .contents ul li:last-child {
	margin-bottom: 0;
}

.sidebox .contents ul li a {
	text-decoration: none;
}

.sidebox .contents ul li a:visited {
	color: #000;
}

.sidebox .contents ul li:hover::marker,
.sidebox .contents ul li a:hover {
	color: #ff0000;
	text-decoration: underline;
}

.sideboxbottom {
	height: 3px;
	background: url('/theme/sidebox-background-bottom.webp') no-repeat;
	margin: 0;
	padding: 0;
}

.contentTable {
	margin-bottom: 9px;
	border: none;
	width: 100%;
	padding: 0
}


.genericBoxBgLftTop {
	background: url('/theme/anchorbox_topleft.webp') no-repeat #f4f4f4;
	height: 2px;
	width: 2px;
}

.genericBoxBgRptTop {
	background: url('/theme/anchorbox_toprpt.webp') repeat-x #f4f4f4;
	height: 2px;
}

.genericBoxBgRtTop {
	background: url('/theme/anchorbox_topright.webp') no-repeat #f4f4f4;
	height: 2px;
	width: 2px;
}

.genericBoxSideLft {
	background: url('/theme/anchorbox_sideleftrpt.webp') repeat-y #f4f4f4;
	width: 2px;
}

.innerBoxContent {
	padding: 15px 20px 15px 20px;
	line-height: 122%;
	text-align: justify;
	font-size: 88.9%;
}

.innerBoxContent a {
	color: #000;
}

.innerBoxContent a:hover {
	color: #ff0000;
}

.innerBoxContent ul:last-child,
.innerBoxContent p:last-child {
	margin-bottom: 0px;
}

.genericBoxSideRt {
	background: url('/theme/anchorbox_siderightrpt.webp') repeat-y #f4f4f4;
	width: 2px;
}

.genericBoxBgLftBot {
	background: url('/theme/anchorbox_botleft.webp') no-repeat #f4f4f4;
	height: 2px;
	width: 2px;
}

.genericBoxBgRptBot {
	background: url('/theme/anchorbox_botrpt.webp') repeat-x #f4f4f4;
	height: 2px;
}

.genericBoxBgRtBot {
	background: url('/theme/anchorbox_botright.webp') no-repeat #f4f4f4;
	height: 2px;
	width: 2px;
}

.innerBoxHeaderBgLft {
	background: url('/theme/pg_box_hder_bg_lft.webp') no-repeat #f4f4f4;
	height: 22px;
	width: 3px;
}

.innerBoxHeaderBgRpt {
	background: url('/theme/pg_box_hder_bg_rpt.webp') repeat-x #f4f4f4;
	height: 22px;
	padding-left: 8px;
}

.innerBoxHeaderBgRt {
	background: url('/theme/pg_box_hder_bg_rt.webp') no-repeat #f4f4f4;
	height: 22px;
	width: 3px;
}

.innerBoxSideLft {
	background: url('/theme/pg_box_side_lft.webp') repeat-y #f4f4f4;
	width: 3px;
}

.innerBoxSideRt {
	background: url('/theme/pg_box_side_rt.webp') repeat-y #f4f4f4;
	width: 3px;
}

.innerBoxBgLftBot {
	background: url('/theme/pg_box_bg_lft_bot.webp') no-repeat #f4f4f4;
	height: 2px;
	width: 3px;
}

.innerBoxBgRtBot {
	background: url('/theme/pg_box_bg_rt_bot.webp') no-repeat #f4f4f4;
	height: 2px;
	width: 3px;
}

.image-right {
	float: right;
	margin-top: 5px;
	margin-left: 6px;
	border: 1px solid #ff0000;
}

.image-right-a {
	float: right;
	margin-top: 5px;
	margin-left: 8px;
	border: 1px solid #ff0000;
}

.image-right-a:hover {
  border:1px solid #cc0000;
}

HTML, BODY, TD, H1, H2, H3, H4, OL, UL, DL, LI, DT, DD {
	font-family: helvetica-reg, Arial, helvetica, sans-serif;
}

b {
	font-family: helvetica-bold;
	font-weight: normal;
}

p {
	margin: 0px 0px 10px 0px;
}

ul {
	margin: 0px 0px 10px 0px;
}

h1 {
	font-family: helvetica-bold;
	font-size: 1.5em;
	font-weight: normal;
	line-height: 200%;
	background: url('/theme/h1-left.webp') left no-repeat;
	padding: 0 0 0 18px;
	margin: 0 0 9px 0;
}

h1 span {
	background: url('/theme/h1-right.webp') right no-repeat;
	display: block;
	width: 100%;
	height: 43px;
}

h1 p {
	font-size: 11px;
	font-family: helvetica-bold;
	line-height: 1;
	font-weight: normal;
	float: right;
	margin-top: 24px;
	margin-right: 9px;
}

h2 {
	font-family: helvetica-bold;
	background: url('/theme/red_triangle.webp') no-repeat 0 4px;
	padding: 4px 0 2px 12px;
	font-size: 12px;
	margin: 0px;
	font-weight: normal;
	line-height: 90%;
}

h2 b {
	color: #ff0000;
}

pre {
	white-space: pre-wrap;
}

code {
	border: 1px solid #cdcccc;
	border-radius: 3px;
}
